<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP04_1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### #10807 개수 세기

In [ ]:
n = int(input())
num_list = input().split()
v = int(input())
result = 0

for i in range(n):
    if int(num_list[i]) == v:
        result += 1
print(result)

11
1 4 1 2 4 2 4 2 3 4 4
5
0

### #10871 X보다 작은 수

In [ ]:
n, x = map(int, input().split())
a = input().split()

for i in range(n):
    if int(a[i]) < x:
        print(int(a[i]), end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

### #10818 최소, 최대

In [ ]:
n = int(input())
number = list(map(int, input().split()))

print(min(number), end=' ')
print(max(number), end='')

5
20 10 35 30 7
7 35

### #2562 최댓값

In [ ]:
num_list = []

for i in range(9):
    num = int(input())
    num_list.append(num)
print(max(num_list)) #최댓값
print(num_list.index(max(num_list)) + 1) #최댓값 인덱스

3
29
38
12
57
74
40
85
61
85
8

### #10810 공 넣기

In [3]:
n, m = map(int, input().split())

ball = [0] * n

for i in range(m):
    i, j, k = map(int, input().split())
    for num in range(i, j+1):
        ball[num-1] = k

print(*ball, sep=' ')

5 4
1 2 3
3 4 4
1 4 1
2 2 2
1 2 1 1 0

### #10813 공 바꾸기

In [4]:
n, m = map(int, input().split())

ball = [(i+1) for i in range(n)]

for i in range(m):
    i, j = map(int, input().split())
    tmp = ball[i-1]
    ball[i-1] = ball[j-1]
    ball[j-1] = tmp

print(*ball, sep=' ')

5 4
1 2
3 4
1 4
2 2
3 1 4 2 5

### #5597 과제 안 내신 분..?

In [ ]:
student_list = []

for i in range(28):
    student_list.append(int(input()))

for i in range(1,31):
    if i not in student_list:
        print(i)

9
30
6
12
10
20
21
11
7
5
28
4
18
29
17
19
27
13
16
26
14
23
22
15
3
1
24
25
2
8

### #3052 나머지

In [ ]:
remainder_list = []
for i in range(10):
    num = int(input())
    remainder_list.append(num % 42)
print(len(set(remainder_list)))

39
40
41
42
43
44
82
83
84
85
6

### #10811 바구니 뒤집기

In [11]:
n, m = map(int, input().split())

basket = [(i+1) for i in range(n)]

for i in range(m):
    i, j = map(int, input().split())
    basket[i-1:j] = basket[i-1:j][::-1]

print(*basket, sep=' ')

5 4
1 2
3 4
1 4
2 2
3 4 1 2 5

### #1546 평균

In [ ]:
import statistics

n = int(input())
score_list = list(map(int, input().split()))
new_score_list = []
max_score = max(score_list)

for i in range(n):
    new_score_list.append(score_list[i] / max_score * 100)
print(statistics.mean(new_score_list))

9
10 20 30 40 50 60 70 80 90
55.55555555555556

### #8958 OX퀴즈

In [ ]:
t = int(input())

for i in range(t):
    result = input() #퀴즈 결과 입력받음
    total_score = 0 #퀴즈 총 점수
    score = 0 #문제별 점수 초기화

    for j in range(len(result)): #퀴즈 문제 개수
        if result[j] == 'O': #문제를 맞춘 경우
            score += 1 #문제 점수 1씩 증가
        else: #문제를 틀린 경우
            score = 0 #해당 문제 점수 없음
        total_score += score #점수를 총점에 반영

    print(total_score) #for문 나와서 total_score 출력

5
OOXXOXXOOO
10
OOXXOOXXOO
9
OXOXOXOXOXOXOX
7
OOOOOOOOOO
55
OOOOXOOOOXOOOOX
30

### #4344 평균은 넘겠지

In [ ]:
import statistics

c = int(input())

for i in range(c):
    score_list = list(map(int, input().split()))
    n = score_list[0]
    del score_list[0]
    score_mean = statistics.mean(score_list)
    over_num = len([ i for i in score_list if i > score_mean])
    print('{0:.3f}%'.format(over_num / n * 100))

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%