<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP06_%EB%AC%B8%EC%9E%90%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1) #11654 아스키 코드

- `ord()`: 아스키 코드 변환
- `chr()`: 다시 문자열로 변환

In [ ]:
char = input()
print(ord(char))

z
122

### 2) #11720 숫자의 합

In [ ]:
n = int(input())
number = input()
sum = 0

for i in range(n):
    sum += int(number[i])
print(sum)

11
10987654321
46

### 3) #10809 알파벳 찾기

- `str.find('특정 문자')`: str 문자열에서 특정 문자가 있는 위치의 index 반환하며 없으면 -1 반환

In [ ]:
s = input()
for i in range(ord('a'), ord('z')+1):
    print(s.find(chr(i)), end=' ')

baekjoon
1 0 -1 -1 2 -1 -1 -1 -1 4 3 -1 -1 7 5 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1

### 4) #2675 문자열 반복

In [ ]:
t = int(input())

for i in range(t):
    r, s = input().split()
    r = int(r)
    for j in range(len(s)):
        print(s[j] * r, end='')
    print()

2
3 ABC
AAABBBCCC
5 /HTP
/////HHHHHTTTTTPPPPP

### 5) #1157 단어 공부

In [ ]:
from collections import Counter

word = list(input().upper())

if len(word) == 1:
    print(word[0])
else:
    max1_word = Counter(word).most_common(2)[0]
    #print('max1: {0}'.format(max1_word))
    max2_word = Counter(word).most_common(2)[1]
    #print('max2: {0}'.format(max2_word))

    if max1_word[1] == max2_word[1]:
        print('?')
    else:
        print(max1_word[0])

baaa
A

### 6) #1152 단어의 개수

In [ ]:
word_list = list(input().split())
print(len(word_list))

The last character is a blank
6

### 7) #2908 상수

- `string[start:stop:step]`에서 step을 -1로 설정하면 reverse_string 출력

In [ ]:
a, b = input().split()
new_a, new_b = int(a[::-1]), int(b[::-1])

if new_a > new_b:
    print(new_a)
else:
    print(new_b)

839 237
938

### 8) #5622 다이얼

In [ ]:
word_list = list(input())
time = 0

for word in word_list:
    if ord(word) in range(ord('A'),ord('C') + 1):
        time += 3
    elif ord(word) in range(ord('D'),ord('F') + 1):
        time += 4
    elif ord(word) in range(ord('G'),ord('I') + 1):
        time += 5
    elif ord(word) in range(ord('J'),ord('L') + 1):
        time += 6
    elif ord(word) in range(ord('M'),ord('O') + 1):
        time += 7
    elif ord(word) in range(ord('P'),ord('S') + 1):
        time += 8
    elif ord(word) in range(ord('T'),ord('V') + 1):
        time += 9
    elif ord(word) in range(ord('W'),ord('Z') + 1):
        time += 10
print(time)

UNUCIC
36

In [ ]:
word_list = list(input())
number_list = ['ABC', 'DEF', 'GHI', 'JKL', 'MNO', 'PQRS', 'TUV', 'WXYZ']
time = 0

for word in word_list:
    for i, number in enumerate(number_list):
        if word in number:
            time += i + 3

print(time)

UNUCIC
36

### 9) #2941 크로아티아 알파벳

In [ ]:
word = input()

croatia_list = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']

In [5]:
word = 'ljes=njak'

croatia_list = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
number = 0

for i in croatia_list:
    if i in word:
        print(i)
        number += 1
        word = word.replace(i, "")
        print(word)
print(number)

lj
es=njak
nj
es=ak
s=
eak
3

### 10) #1316 그룹 단어 체커