<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP07_%EA%B8%B0%EB%B3%B8_%EC%88%98%ED%95%99_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1) #1712 손익분기점

In [17]:
a, b, c = map(int, input().split())

if b >= c:
    print(-1)
else:
    point = a // (c - b)
    print(point + 1)

2100000000 9 10
2100000001

### 2) #2292 벌집

In [86]:
n = int(input())

num = 0
i = 1
num_list = [1, 2]

if n != 1:
    while(True):
        num += i * 6
        i += 1
        if (num+2) <= n:
            num_list.append(num + 2)
        else:
            break
    #print(num_list)
    print(len(num_list))
else:
    print(1)

13
3

### 3) #1193 분수찾기

In [112]:
x = int(input())
num = 1
i = 1

while(True):
    if x >= (num + i):
        num += i
        i += 1
    else:
        break

#print('num: {0}, i: {1}'.format(num, i))
row = 1
col = i
for step in range(x - num):
    col -= 1
    row += 1

if i % 2 == 1:
    print('{0}/{1}'.format(col,row))
else:
    print('{0}/{1}'.format(row,col))

14
2/4

### 4) #2869 달팽이는 올라가고 싶다

In [113]:
import numpy as np

a, b, v = map(int, input().split())

step = a - b
print(int(np.floor(v / step)))

2 1 5
5.0

### 5) #10250 ACM 호텔

### 6) #2775 부녀회장이 될테야

### 7) #2839 설탕 배달

### 8) #10757 큰 수 A+B