<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP10_%EA%B8%B0%ED%95%98_%EC%A7%81%EC%82%AC%EA%B0%81%ED%98%95%EA%B3%BC_%EC%82%BC%EA%B0%81%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### #27323 직사각형

In [ ]:
a = int(input())
b = int(input())

print(a * b)

2
3
6

### #1085 직사각형에서 탈출

In [ ]:
x, y, w, h = map(int, input().split())

print(min(x, y, w-x, h-y))

161 181 762 375
161

### #3009 네 번째 점

In [ ]:
x = []
y = []

for _ in range(3):
    new_x, new_y = map(int, input().split())
    if new_x in x:
        x.remove(new_x)
    else:
        x.append(new_x)
    if new_y in y:
        y.remove(new_y)
    else:
        y.append(new_y)

print(x[0], y[0])

30 20
10 10
10 20
30 10

### #15894 수학은 체육과목 입니다

In [ ]:
n = int(input())

print(4 * n)

3
12

### #9063 대지

In [ ]:
n = int(input())

x_list = []
y_list = []

for i in range(n):
    x, y = map(int, input().split())
    x_list.append(x)
    y_list.append(y)

x_len = max(x_list) - min(x_list)
y_len = max(y_list) - min(y_list)
print(x_len * y_len)

4
2 1
3 2
5 2
3 4
9

### #10101 삼각형 외우기

In [ ]:
angle = []
for i in range(3):
    angle.append(int(input()))

if sum(angle) != 180:
    print("Error")
elif angle == [60, 60, 60]:
    print("Equilateral")
elif (angle[0] == angle[1] & angle[0] != angle[2]) | (angle[0] == angle[2] & angle[0] != angle[1]) | (angle[1] == angle[2] & angle[1] != angle[0]):
    print("Isosceles")
else:
    print("Scalene")

60
70
50
Scalene

### #5073 삼각형과 세 변

In [13]:
while True:
    leg = list(map(int, input().split()))

    #세 수가 다 0인 경우 종료
    if leg == [0, 0, 0]:
        break

    if max(leg) >= sum(leg) - max(leg):
        print("Invalid")
    elif (leg[0] == leg[1]) & (leg[0] == leg[2]):
        print("Equilateral")
    elif ((leg[0] == leg[1]) & (leg[0] != leg[2])) | ((leg[0] == leg[2]) & (leg[0] != leg[1])) | ((leg[1] == leg[2]) & (leg[0] != leg[1])):
        print("Isosceles")
    else:
        print("Scalene")

7 7 7
Equilateral
6 5 4
Scalene
3 2 5
Invalid
6 2 6
Isosceles
0 0 0