<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP09_2%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1) #2738 행렬 덧셈

#### [내 코드]

In [7]:
n, m = map(int, input().split())

a = [[0 for row in range(m)] for col in range(n)]
for i in range(n):
    a[i] = list(map(int, input().split()))

b = [[0 for row in range(m)] for col in range(n)]
for i in range(n):
    b[i] = list(map(int, input().split()))

for i in range(n):
    for j in range(m):
        if j == (m-1):
            print(a[i][j] + b[i][j])
        else:
            print(a[i][j] + b[i][j], end=' ')

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

#### [공부한 코드]
- `_`의 사용법
    1. 인터프리터에 마지막 값을 저장하고 싶을 때 사용
    ``` python
    _ = 20
    print(_)
    >>> 20
    _*3
    >>> 60
    _/2
    >>> 10.0
    ```
    2. 값을 무시하고 싶을 때 사용
    ``` python
    x, _, y = 1, 2, 3
    x
    >>> 1
    y
    >>> 3
    #여러 개의 값을 무시하려면 * 붙여서 사용
    x, *_, y = 1, 2, 3, 4, 5
    x
    >>> 1
    y
    >>> 5
    ```
    3. 특별한 의미를 부여하고 싶을 때 사용
    <br><a href='https://ifh.cc/v-jb5w0Z' target='_blank'><img src='https://ifh.cc/g/jb5w0Z.png' border='0'></a>
    ``` python
    class A:
        def __double_method(self):
        pass
    class B:
        def __double_method(self):
        pass
    
    print(dir(A)))
    print(dir(B)))
    ```
    4. 숫자, 문자값의 자릿수 구분을 위한 구분자로 사용
    ``` python
    dec_base = 1_000_000

    print(dec_base)
    >>> 1000000
    ```
<br>
- `*` 연산자: 여러 개의 인자를 넘김

In [8]:
n, m = map(int, input().split())

a = [list(map(int,input().split())) for _ in range(n)]
b = [list(map(int,input().split())) for _ in range(n)]

for i in range(n):
    for j in range(m):
        a[i][j] += b[i][j] #a에 합친 함수 넣기

for i in a:
    print(*i) #여러 개의 인자 넘기기

3 3
1 1 1
2 2 2
0 1 0
3 3 3
4 4 4
5 5 100
4 4 4
6 6 6
5 6 100

In [13]:
print(*a, sep='\n') #행렬 한번에 넘길 수도 있음

[4, 4, 4]
[6, 6, 6]
[5, 6, 100]

### 2) #2566 최댓값

- map 메소드 활용해서 2차원 배열에서 최댓값 구하기
    ``` python
    a = [[4, 4, 4],
        [6, 6, 6],
        [5, 6, 100]]

    print(list(map(max, a))) #각 줄에서 최댓값 추출
    >>> [4, 6, 100]

    print(max(map(max, a))) #그 중 최댓값 출력
    >>> 100
    ```

In [28]:
num_matrix = [list(map(int, input().split())) for _ in range(9)]

max_num = max(map(max, num_matrix))
print(max_num) #최댓값 출력

max_index = [(i,j) for i in range(9) for j in range(9) if num_matrix[i][j]==max_num]
print('{0} {1}'.format(max_index[0][0]+1, max_index[0][1]+1)) #최댓값 index 출력

3 23 85 34 17 74 25 52 65
10 7 39 42 88 52 14 72 63
87 42 18 78 53 45 18 84 53
34 28 64 85 12 16 75 36 55
21 77 45 35 28 75 90 76 1
25 87 65 15 28 11 37 28 74
65 27 75 41 7 89 78 64 39
47 47 70 45 23 65 3 41 44
87 13 82 38 31 12 29 29 80
90
5 7

### 3) #2563 색종이

In [38]:
n = int(input())

paper = [[0 for _ in range(100)] for _ in range(100)]

for i in range(n):
    a, b = map(int, input().split())
    for row in range(a, a+10):
        for col in range(b, b+10):
            paper[row][col] = 1

area = sum(map(sum, paper))
print(area)

3
3 7
15 7
5 2
260