<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP02_%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1) #1330 두 수 비교하기

In [6]:
a, b = input().split()
a, b = int(a), int(b)

if a > b:
    print('>')
elif a < b:
    print('<')
else:
    print('==')

5 5
==

### 2) #9498 시험 성적

In [8]:
a = int(input())

if a >= 90 and a<=100:
    print('A')
elif a >= 80:
    print('B')
elif a >= 70:
    print('C')
elif a >= 60:
    print('D')
else:
    print('F')

100
A

### 3) #2753 윤년

In [11]:
year = int(input())
leap_year = 0

if year % 4 == 0:
    if (year % 100 != 0) | (year % 400 == 0):
        leap_year = 1
print(leap_year)

1999
0

### 4) #14681 사분면 고르기

In [13]:
x = int(input())
y = int(input())

if (x > 0) & (y > 0):
    print(1)
elif (x < 0) & (y > 0):
    print(2)
elif (x < 0) & (y < 0):
    print(3)
elif (x > 0) & (y < 0):
    print(4)

9
-13
4

### 5) #2884 알람 시계

In [20]:
h, m = map(int, input().split())

if m >= 45:
    m -= 45
else:
    m += 15
    if h != 0:
        h -= 1
    else:
        h = 23

print('{0} {1}'.format(h, m))

23 40
22 55

### 6) #2525 오븐 시계

In [21]:
a, b = map(int, input().split())
c = int(input())

hour = a
minute = b + c
while True:
    if minute >= 60:
        minute -= 60
        hour += 1
    else:
        break
if hour >= 24:
    hour -= 24
print('{0} {1}'.format(hour,minute))

23 48
25
0 13

### 7) #2480 주사위 세개

In [28]:
import statistics

a, b, c = map(int, input().split())
number_list = []
number_list.append(a)
number_list.append(b)
number_list.append(c)
num = 0

if a == b:
    num += 1
if a == c:
    num += 1
if b == c:
    num += 1

if num >= 2:
    money = 10000 + a * 1000
elif num == 1:
    money = 1000 + statistics.mode(number_list) * 100
elif num == 0:
    money = max(number_list) * 100
print(money)

6 2 5
600