<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP06_%EC%8B%AC%ED%99%94_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### #25083 새싹

In [ ]:
print('         ,r\'\"7\nr`-_   ,\'  ,/\n \. \". L_r\'\n   `~\/\n      |\n      |')

         ,r'"7
r`-_   ,'  ,/
 \. ". L_r'
   `~\/
      |
      |

### #3003 킹, 퀸, 룩, 비숍, 나이트, 폰

In [ ]:
k, q, l, b, n, p = input().split()
k, q, l, b, n, p = int(k), int(q), int(l), int(b), int(n), int(p)
new_k = str(1 - k)
new_q = str(1 - q)
new_l = str(2 - l)
new_b = str(2 - b)
new_n = str(2 - n)
new_p = str(8 - p)
print(new_k + ' ' + new_q + ' ' + new_l + ' ' + new_b + ' ' + new_n + ' ' + new_p)

2 1 2 1 2 1
-1 0 0 1 0 7

### #2444 별 찍기 - 7

- n = 5
```
4, 1, 4
3, 3, 3
2, 5, 2
1, 7, 1
0, 9, 0
1, 7, 1
2, 5, 2
3, 3, 3
4, 1, 4
```

In [16]:
n = int(input())

blank = [i for i in range(n-1, 0, -1)] + [0] + [i for i in range(1, n)]
star = [2*i-1 for i in range(1,n)] + [2*i-1 for i in range(n,0,-1)]

for i in range(len(star)):
    print(' ' * blank[i] + '*' * star[i])

5
    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

### #10812 바구니 순서 바꾸기

### #10988 팰린드롬인지 확인하기

### #4344 평균은 넘겠지

In [ ]:
import statistics

c = int(input())

for i in range(c):
    score_list = list(map(int, input().split()))
    n = score_list[0]
    del score_list[0]
    score_mean = statistics.mean(score_list)
    over_num = len([ i for i in score_list if i > score_mean])
    print('{0:.3f}%'.format(over_num / n * 100))

5
5 50 50 70 80 100
40.000%
7 100 95 90 80 70 60 50
57.143%
3 70 90 80
33.333%
3 70 90 81
66.667%
9 100 99 98 97 96 95 94 93 91
55.556%

### #2941 크로아티아 알파벳

- `string.count(char or substring, start, end)`
    - Char 또는 substring: 주어진 문자열에서 검색하려는 단일 문자 또는 하위 문자열을 지정할 수 있으며 주어진 문자열의 문자 또는 하위 문자열의 수를 반환함
    - start : 검색이 시작될 시작 인덱스를 나타냄 (default=0)
    - end : 검색이 끝나는 끝 인덱스를 나타냄 (default=끝)

In [ ]:
word = input()

croatia_list = ['c=', 'c-', 'dz=', 'd-', 'lj', 'nj', 's=', 'z=']
number = 0

for i in croatia_list:
    #print('i:{0}, count:{1}'.format(i, word.count(i))) #확인용 코드
    number += word.count(i)
    word = word.replace(i," ") #기존의 크로아티아 글자 공백으로 변환

word = word.replace(" ","") #공백 삭제
number += len(word) #목록에 없는 알파벳
print(number)

dz=ak
3

### #1316 그룹 단어 체커

- 각 단어에 있는 알파벳의 개수를 세고 개수가 2개 이상인 알파벳에 대해 그 단어가 존재하는지 검사

In [ ]:
n = int(input())
group_word = False
number = 0

for i in range(n):
    word = input()
    alphabet_list = set(list(word))
    for alphabet in alphabet_list:
        alphabet_count = word.count(alphabet)
        #print('alphabet: {0}, count: {1}'.format(alphabet, alphabet_count)) #확인용 코드
        if alphabet_count < 2:
            group_word = True
        else:
            if alphabet * alphabet_count in word:
                group_word = True
            else:
                group_word = False
                break
    #print(group_word)
    if group_word:
        number += 1
print(number)

1
z
1

### #25206 너의 평점은