<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP04_1%EC%B0%A8%EC%9B%90_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1) #10807 개수 세기

In [4]:
n = int(input())
num_list = input().split()
v = int(input())
result = 0

for i in range(n):
    if int(num_list[i]) == v:
        result += 1
print(result)

11
1 4 1 2 4 2 4 2 3 4 4
5
0

### 2) #10871 X보다 작은 수

In [6]:
n, x = map(int, input().split())
a = input().split()

for i in range(n):
    if int(a[i]) < x:
        print(int(a[i]), end=' ')

10 5
1 10 4 9 2 3 8 5 7 6
1 4 2 3

### 3) #10818 최소, 최대

In [13]:
n = int(input())
number = list(map(int, input().split()))

print(min(number), end=' ')
print(max(number), end='')

5
20 10 35 30 7
7 35

### 4) #2562 최댓값

In [10]:
num_list = []

for i in range(9):
    num = int(input())
    num_list.append(num)
print(max(num_list)) #최댓값
print(num_list.index(max(num_list)) + 1) #최댓값 인덱스

3
29
38
12
57
74
40
85
61
85
8

### 5) #5597 과제 안 내신 분..?

In [16]:
student_list = []

for i in range(28):
    student_list.append(int(input()))

for i in range(1,31):
    if i not in student_list:
        print(i)

9
30
6
12
10
20
21
11
7
5
28
4
18
29
17
19
27
13
16
26
14
23
22
15
3
1
24
25
2
8

### 6) #3052 나머지

### 7) #1546 평균

### 8) #8958 OX퀴즈

### 9) #4344 평균은 넘겠지