<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP07_%EA%B8%B0%EB%B3%B8_%EC%88%98%ED%95%99_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1) #1712 손익분기점

In [ ]:
a, b, c = map(int, input().split())

if b >= c:
    print(-1)
else:
    point = a // (c - b)
    print(point + 1)

2100000000 9 10
2100000001

### 2) #2292 벌집

In [ ]:
n = int(input())

num = 0
i = 1
num_list = [1, 2]

if n != 1:
    while(True):
        num += i * 6
        i += 1
        if (num+2) <= n:
            num_list.append(num + 2)
        else:
            break
    #print(num_list)
    print(len(num_list))
else:
    print(1)

13
3

### 3) #1193 분수찾기

In [ ]:
x = int(input())
num = 1
i = 1

while(True):
    if x >= (num + i):
        num += i
        i += 1
    else:
        break

#print('num: {0}, i: {1}'.format(num, i))
row = 1
col = i
for step in range(x - num):
    col -= 1
    row += 1

if i % 2 == 1:
    print('{0}/{1}'.format(col,row))
else:
    print('{0}/{1}'.format(row,col))

14
2/4

### 4) #2869 달팽이는 올라가고 싶다

In [ ]:
a, b, v = map(int, input().split())
number = (v-a) // (a-b)
step = number * (a-b)
#print('start number: #{0}, step: {1}'.format(number, step))

while(True):
    number += 1
    step += a
    if step >= v:
        break
    step -= b

print(number)

100 99 1000000000
999999901

### 5) #10250 ACM 호텔

In [ ]:
t = int(input())

for i in range(t):
    h, w, n = map(int, input().split())
    y = str(n % h) #층

    if y == '0':
        y = str(h)
        x = str(n // h) #호수
    else:
        x = str(n // h + 1)

    #print('y: {0}, x:{1}'.format(y,x))
    
    if int(x) < 10:
        x = '0' + x
    print(y + x)

2
6 12 10
402
30 50 72
1203

### 6) #2775 부녀회장이 될테야

In [25]:
t = int(input())

def people_num(k, n):
    apart = [[0 for j in range(n)] for i in range(k+1)]

    for i in range(k+1):
        for j in range(n):
            if i == 0:
                apart[i][j] = j+1 #0층 i호: i명
            else:
                people = 0
                for l in range(j+1):
                    people += apart[i-1][l]
                apart[i][j] = people
    #print(apart)
    return apart[k][n-1]
    

for i in range(t):
    k = int(input())
    n = int(input())
    result = 0
    print(people_num(k, n))

2
1
3
6
2
3
10

### 7) #2839 설탕 배달

In [46]:
n = int(input())

def bag_num(n):
    kg5 = 0
    kg3 = 0

    if (n % 5) == 0: #5의 배수
        kg5 = n // 5
        return kg5

    else: #5로 나눈 나머지가 3의 배수
        total = n
        for i in range(n//5, 0, -1):
            kg5 = i
            total -= kg5 * 5
            if total % 3 == 0:
                kg3 = total // 3
                total -= kg3 * 3
            else:
                total = n

            if total == 0:
                return kg5 + kg3

    if (n % 3) == 0: #3의 배수
        kg3 = n // 3
        return kg3

    else: #정확하게 n킬로그램 만들 수 없는 경우
        return -1

print(bag_num(n))

11
3

### 8) #10757 큰 수 A+B

In [47]:
a, b = map(int, input().split())
print(a + b)

9223372036854775807 9223372036854775808
18446744073709551615