<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP11_%EC%9E%AC%EA%B7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1) #10872 팩토리얼

In [ ]:
n = int(input())

def factorial(n):
    if (n == 0) | (n == 1):
        return 1
    else:
        return n * factorial(n-1)

print(factorial(n))

0
1

### 2) #10870 피보나치 수 5

In [ ]:
n = int(input())

def fibonacci(n):
    if (n == 0) | (n == 1):
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(n))

10
55

### 3) #25501 재귀의 귀재

- `함수이름.counter`: 함수가 실행된 횟수를 외부에서 확인 가능함

In [ ]:
def recursion(s, l, r):
    recursion.counter += 1
    if l >= r:
        return 1
    elif s[l] != s[r]:
        return 0
    else:
        return recursion(s, l+1, r-1)

def isPalindrome(s):
    return recursion(s, 0, len(s)-1)

In [ ]:
t = int(input())

for i in range(t):
    recursion.counter = 0
    result = isPalindrome(input())
    print('{0} {1}'.format(result, recursion.counter))

5
AAA
1 2
ABBA
1 3
ABABA
1 3
ABCA
0 2
PALINDROME
0 1

### 4) #24060 알고리즘 수업 - 병합 정렬 1

In [2]:
def merge_sort(A, p, r):
    if p < r:
        q = int((p+r) / 2)
        merge_sort(A, p, q)
        merge_sort(A, q+1, r)
        merge(A, p, q, r)

def merge(A, p, q, r):
    i = p
    j = q + 1
    t = 0
    tmp = [0 for _ in range(len(A))]

    while (i <= q) & (j <= r):
        if (A[i] <= A[j]):
            #print(A[i])
            num_list.append(A[i])
            tmp[t] = A[i]
            t += 1
            i += 1
        else:
            #print(A[j])
            num_list.append(A[j])
            tmp[t] = A[j]
            t += 1
            j += 1
            
    while i <= q:
        #print(A[i])
        num_list.append(A[i])
        tmp[t] = A[i]
        t += 1
        i += 1

    while j <= r:
        #print(A[j])
        num_list.append(A[j])
        tmp[t] = A[j]
        t += 1
        j += 1

    i = p
    t = 0
    while i <= r:
        A[i] = tmp[t]
        i += 1
        t += 1

In [ ]:
n, k = map(int, input().split())
A = list(map(int, input().split()))

num_list = []
merge_sort(A, 0, n-1)

if len(num_list) < k:
    print(-1)
else:
    print(num_list[k-1])

5 13
4 5 1 3 2
-1

------
- 시간 초과 때문에 sys 사용

In [ ]:
import sys

n, k = map(int, sys.stdin.readline().rstrip().split())
A = list(map(int, sys.stdin.readline().rstrip().split()))

num_list = []
merge_sort(A, 0, n-1)

if len(num_list) < k:
    print(-1)
else:
    print(num_list[k-1])

---------
- 시간 초과 문제 해결 안됨
- 다른 사람 알고리즘 참고 (굳이 merge sort 사용 안해도 됨) 
- K번째 저장될 때 정렬이 진행되고 있는 배열을 구하고 그 배열에서 A에 몇번째로 들어가는지 알면 됨

- 3:2으로 나뉘어서 하나씩 정렬
    - 3짜리가 2:1로 나뉘어서 정렬한 후 합쳐짐
        - 2짜리가 1:1로 나뉘어서 정렬 후 합쳐짐 (4, 5 정렬) 
        - 2와 1이 합쳐지는 과정에서 1, 4, 5 정렬
    - 2짜리가 1:1로 나뉘어서 정렬한 후 합쳐짐 (2, 3 정렬)
- 3이랑 2가 합쳐지는 과정에서 1, 2, 3, 4, 5 정렬
<br><br>

> 병합정렬은 정렬된 두 배열을 다시 합쳐서 정렬하는 방식입니다. 예제 1번을 예로 들면 <br>
(4, 5, 1, 3, 2)을 (4, 5, 1), (3, 2)로 분리 -> (4, 5, 1)을 (4, 5), (1)로 분리 -> (4, 5)를 (4, 5)로 정렬 -> (1)은 정렬 할 필요 없으므로 (4, 5, 1)을 (1, 4, 5)로 정렬 <br>
다음으로 (3, 2)를 (2, 3)으로 정렬 -> (1, 4, 5), (2, 3)을 합쳐서 (1, 2, 3, 4, 5)로 정렬 이런 과정을 거칩니다. <br>
여기서 예제의 설명을 보시면 아시겠지만 정렬 과정에서 A에는 정렬하려는 배열의 작은 원소 순으로 들어갑니다. ((4, 5, 1) 정렬 과정에는 A에 1, 4, 5 가 차례대로 들어감) <br>
그리고 어떤 배열을 정렬할 때 A에 들어가는 원소의 개수는 그 배열의 원소의 개수와 같습니다.(배열의 원소의 개수가 1이면 정렬을 진행하지 않으므로 예외) <br>
이 문제는 A에 K번째 저장되는 수를 물어보고 있습니다. 그렇다면 K번째 저장될 때 정렬이 진행되고 있는 배열만 구하고, 그 배열에서 A에 몇번째로 들어가는지만 알면 됩니다. <br>
이 때문에 실제 병합정렬을 진행하면서 문제를 풀지 않아도 됩니다. 정렬을 하지 않다가 우리가 원하는 배열 구하고 그 배열만 정렬해주면 됩니다. <br>
정렬을 진행한 두 배열을 다시 정렬해주는 것이고, 정렬 과정에서 그 배열의 작은 원소순으로 A에 들어가는 것이기 때문에 실제 문제를 풀기 위한 정렬은 마지막 한번만으로 충분합니다. <br>
[참고] https://www.acmicpc.net/board/view/107115

In [11]:
def find(start, end):
    global K

    if start == end: #배열의 원소의 개수가 1이면 정렬 진행하지 않음
        return

    mid = int((start+end) / 2)
    find(start, mid) #원소 수가 적은 배열부터 정렬하므로 배열의 원소를 둘로 나눈 것부터 정렬 진행
    find(mid+1, end)

    if K <= end - start + 1: #K번째에 원소를 넣는 배열인지 확인 (정렬하려는 배열의 크기 >= K인지 확인)
        J = sorted(I[start:end+1]) #우리가 원하는 배열만 정렬
        result.append(J[K-1])  #A에 몇번째 들어가는지 확인 후 정렬된 배열에서 그 수 출력
    K -= end - start + 1 #정렬하려는 배열의 크기 < K면 우리가 원하는 배열이 아니므로 A에 원소가 들어간 만큼 K에서 빼줌 

N, K = map(int,input().split())
I = list(map(int,input().split()))

result = []
find(0, N-1)

if len(result) != 0:
    print(result[0])
else:
    print(-1) #만약 이 과정을 진행했는데 프로그램이 종료되지 않았다면 저장 횟수가 K보다 작은 것이므로 -1 출력

1 2
1
-1

---------
- 런타임 에러 (Index Error)가 나는데 이유를 모르겠음
- 원래 내가 작성했던 코드 수정하기
- tmp 배열을 함수 안에서 매번 계속 만들었는데 밖에서 한 번 선언해주고 안에서 사용하도록 수정함

In [16]:
def merge_sort(A, p, r):
    if p < r:
        q = int((p+r) / 2)
        merge_sort(A, p, q)
        merge_sort(A, q+1, r)
        merge(A, p, q, r)

def merge(A, p, q, r):
    i = p
    j = q + 1
    t = 0

    while (i <= q) & (j <= r):
        if (A[i] <= A[j]):
            #print(A[i])
            num_list.append(A[i])
            tmp[t] = A[i]
            t += 1
            i += 1
        else:
            #print(A[j])
            num_list.append(A[j])
            tmp[t] = A[j]
            t += 1
            j += 1
            
    while i <= q:
        #print(A[i])
        num_list.append(A[i])
        tmp[t] = A[i]
        t += 1
        i += 1

    while j <= r:
        #print(A[j])
        num_list.append(A[j])
        tmp[t] = A[j]
        t += 1
        j += 1

    i = p
    t = 0
    while i <= r:
        A[i] = tmp[t]
        i += 1
        t += 1


n, k = map(int, input().split())
A = list(map(int, input().split()))
tmp = [0 for _ in range(n)]
num_list = []
merge_sort(A, 0, n-1)

if len(num_list) < k:
    print(-1)
else:
    print(num_list[k-1])

5 13
4 5 1 3 2
-1

### 5) #2447 별 찍기 - 10

- 중간에 비는 부분
    - 3: 1~1 (`1*1 ~ 1*2-1`)
    - 9: 3~5 (`3*1 ~ 3*2-1`)
    - 27: 9~17 (`9*1 ~ 9*2-1`)
    - n: `(n-1)*1 ~ (n-1)*2-1`

In [270]:
#iteration
def draw_star(n):
    for i in range(1, n, 3):
        for j in range(1, n, 3):
            for ki in range(1):
                for kj in range(1):
                    star[i+ki][j+kj] = ' '

    for i in range(3, n, 9):
        for j in range(3, n, 9):
            for ki in range(3):
                for kj in range(3):
                    star[i+ki][j+kj] = ' '

    for i in range(9, n, 27):
        for j in range(9, n, 27):
            for ki in range(9):
                for kj in range(9):
                    star[i+ki][j+kj] = ' '

In [275]:
#recursion
def draw_star(num, n):
    if n == 1:
        return
    else:
        for i in range(n//3, num, n):
            for j in range(n//3, num, n):
                for ki in range(n//3):
                    for kj in range(n//3):
                        star[i+ki][j+kj] = ' '
        draw_star(num, n//3)

In [276]:
num = int(input())

star = [['*' for _ in range(num)] for _ in range(num)]

draw_star(num, num)

for i in star:
    print(*i, sep='')

27
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************
*********         *********
* ** ** *         * ** ** *
*********         *********
***   ***         ***   ***
* *   * *         * *   * *
***   ***         ***   ***
*********         *********
* ** ** *         * ** ** *
*********         *********
***************************
* ** ** ** ** ** ** ** ** *
***************************
***   ******   ******   ***
* *   * ** *   * ** *   * *
***   ******   ******   ***
***************************
* ** ** ** ** ** ** ** ** *
***************************

-----------
- 다른 사람 코드 <br>
[참고] https://www.acmicpc.net/source/54025456

In [296]:
n = int(input())

def star(n): #n=9일 때 예시
  if n == 3:
    return ['***','* *','***']
  arr = star(n//3)

  stars = []
  for i in arr:
    stars.append(i*3) #['*********', '* ** ** *', '*********']
  for i in arr:
    stars.append(i + " "*(n//3) + i) #['***   ***', '* *   * *', '***   ***']
  for i in arr:
    stars.append(i*3) #['*********', '* ** ** *', '*********']
  return stars

print('\n'.join(star(n))) #array의 원소들 join

9
*********
* ** ** *
*********
***   ***
* *   * *
***   ***
*********
* ** ** *
*********

### 6) #11729 하노이 탑 이동 순서

- A에 있는 제일 밑의 원판을 제외한 n-1개의 원판을 B로 옮김
- A의 제일 밑의 원판을 C로 옮김
- B에 있던 n-1개의 원판을 C로 옮김
<br><br>
- 3개 예시)
    - 1 원판을 A->C
    - 2 원판을 A->B
    - 1 원판을 C->B
    - 3 원판을 A->C
    - 1 원판을 B->A
    - 2 원판을 B->C
    - 1 원판을 A->C
<br><br>
- list를 만들어서 이동하려고 했으나 실제로 구현할 필요가 없음

In [370]:
def hanoi(n, start, tmp, end):
    hanoi.counter += 1
    if n == 1:
        move(1, start, end)
        return
    else:
        hanoi(n-1, start, end, tmp)
        move(n, start, end)
        hanoi(n-1, tmp, start, end)

def move(n, start, end):
    #print('{}번 원반을 {}에서 {}으로 이동'.format(n, start, end))
    result.append(str(start) + ' ' + str(end))

In [377]:
def hanoi(n, start, tmp, end):
    hanoi.counter += 1
    if n == 1:
        result.append(str(start) + ' ' + str(end))
        return
    else:
        hanoi(n-1, start, end, tmp)
        result.append(str(start) + ' ' + str(end))
        hanoi(n-1, tmp, start, end)

In [379]:
n = int(input())

hanoi.counter = 0
result = []

hanoi(n, "1", "2", "3")
print(hanoi.counter)

print(*result, sep='\n')

3
7
1 3
1 2
3 2
1 3
2 1
2 3
1 3