<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP12_%EB%B8%8C%EB%A3%A8%ED%8A%B8_%ED%8F%AC%EC%8A%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1) #2798 블랙잭

- `list(permutations(num_list, 3))`: num_list에 있는 수에서 3개를 뽑아 조합해서 만든 리스트가 모두 담긴 2차원 배열

In [15]:
from itertools import permutations

n, m = map(int, input().split())
num_list = list(map(int, input().split()))
result = 0

sum_list = list(set(map(sum, list(permutations(num_list, 3)))))
sum_list.sort()

for i in range(len(sum_list)-1):
    if (sum_list[i] <= m) & (sum_list[i+1] > m):
        result = sum_list[i]
        break

if result == 0:
    result = sum_list[len(sum_list)-1]

print(result)

4 300000
1 1 1 99999
100001

### 2) #2231 분해합

- 예를 들어 216의 경우 생성자는 216 - 2 - 9 - 9보다 무조건 크거나 같음
- 따라서, 반복문의 범위를 `range(n, n - n//(10**(size-1)) - 9*(size-1)-1, -1)`로 지정하여 이 부분만 탐색하도록 함

In [30]:
n = input()
size = len(n)
n = int(n)

result = []

for i in range(n, n - n//(10**(size-1)) - 9*(size-1)-1, -1):
    #print(i)
    i_list = list(map(int, str(i)))
    #print('i_list: {}'.format(i_list))
    sum_num = i
    for j in i_list:
        sum_num += j
    #print('sum_num: {}'.format(sum_num))
    if sum_num == n:
        result.append(i)

if len(result) == 0:
    print(0)
else:
    print(result[-1])

216
198

### 3) #7568 덩치

In [44]:
n = int(input())
people_list = [list(map(int, input().split())) for _ in range(n)]

for i in range(n):
    result = 1
    for j in [k for k in range(n) if k != i]:
        if (people_list[i][0] < people_list[j][0]) & (people_list[i][1] < people_list[j][1]):
            result += 1
    print(result, end=' ')

5
55 185
58 183
88 186
60 175
46 155
2 2 1 2 5

- 시간 초과 방지

In [ ]:
import sys

n = int(input())
people_list = [list(map(int, sys.stdin.readline().rstrip().split())) for _ in range(n)]

for i in range(n):
    result = 1
    for j in [k for k in range(n) if k != i]:
        if (people_list[i][0] < people_list[j][0]) & (people_list[i][1] < people_list[j][1]):
            result += 1
    print(result, end=' ')

### 4) #1018 체스판 다시 칠하기

### 5) #1436 영화감독 숌