<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP03_%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1) #2739 구구단

In [1]:
num = int(input())

for i in range(9):
    print('{0} * {1} = {2}'.format(num, i+1, num * (i+1)))

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

### 2) #10950 A+B - 3

In [2]:
t = int(input())
result = []

for i in range(t):
    a, b = map(int, input().split())
    result.append(a + b)

for i in range(t):
    print(result[i])

5
1 1
2 3
3 4
9 8
5 2
2
5
7
17
7

### 3) #8393 합

In [8]:
n = int(input())
sum_num = 0

for i in range(n):
    sum_num += (i+1)
print(sum_num)

3
6

### 4) #25304 영수증

In [11]:
x = int(input())
n = int(input())
result = []

for i in range(n):
    a, b = map(int, input().split())
    result.append(a * b)

if x == sum(result):
    print('Yes')
else:
    print('No')

25000
4
20000 5
30000 2
10000 6
5000 8
No

### 5) #15552 빠른 A+B

- for문에서 입출력 방식이 느리면 여러 줄을 입력받거나 출력할 때 시간초과가 날 수 있음

> `input` 대신 `sys.stdin.readline` 사용 <br>
> 맨 끝의 개행문자(\n)까지 같이 입력받기 때문에 `.rstrip()`을 추가로 하는 것이 좋음

- 또한 입력과 출력 스트림은 별개이므로, 테스트케이스를 전부 입력받아서 저장한 뒤 전부 출력할 필요는 없음 (테스트케이스를 하나 받은 뒤 하나 출력해도 됨)

In [ ]:
import sys

t = int(input()) 

for i in range(t):
    a, b = map(int, sys.stdin.readline().rstrip().split()) #코랩에서는 실행 안됨
    print(a + b)

### 6) #11021 A+B - 7

In [22]:
t = int(input())

for i in range(t):
    a, b = map(int, input().split())
    print('Case #{0}: {1}'.format(i+1, a + b))

5
1 1
Case #1: 2
2 3
Case #2: 5
3 4
Case #3: 7
9 8
Case #4: 17
5 2
Case #5: 7

### 7) #11022 A+B - 8

In [24]:
t = int(input())

for i in range(t):
    a, b = map(int, input().split())
    print('Case #{0}: {1} + {2} = {3}'.format(i+1, a, b, a+b))

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

### 8) #2438 별 찍기 - 1

### 9) #2439 별 찍기 - 2

### 10) #10952 A+B - 5

### 11) #10951 A+B - 4

### 12) #1110 더하기 사이클