<a href="https://colab.research.google.com/github/kimhj010502/BAEKJOON/blob/main/STEP15_%EC%A0%95%EC%88%98%EB%A1%A0_%EB%B0%8F_%EC%A1%B0%ED%95%A9%EB%A1%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1) #5086 배수와 약수

In [ ]:
while True:
    a, b = map(int, input().split())
    if (a == 0) & (b == 0):
        break
    else:
        if a % b == 0:
            print('multiple')
        elif b % a == 0:
            print('factor')
        else:
            print('neither')

8 16
factor
32 4
multiple
17 5
neither
0 0

- 시간 초과 방지

In [ ]:
import sys

while True:
    a, b = map(int, sys.stdin.readline().rstrip().split())
    if (a == 0) & (b == 0):
        break
    else:
        if a % b == 0:
            print('multiple')
        elif b % a == 0:
            print('factor')
        else:
            print('neither')

### 2) #1037 약수

In [ ]:
n = int(input())
factor_list = list(map(int, input().split()))
factor_list.sort()

if n == 1:
    print(factor_list[0]**2)
else:
    print(factor_list[0] * factor_list[-1])

14
14 26456 2 28 13228 3307 7 23149 8 6614 46298 56 4 92596
185192

- 시간 초과 방지

In [ ]:
import sys

n = int(input())
factor_list = list(map(int, sys.stdin.readline().rstrip().split()))
factor_list.sort()

if n == 1:
    print(factor_list[0]**2)
else:
    print(factor_list[0] * factor_list[-1])

### 3) #2609 최대공약수와 최소공배수

- 유클리드 호제법 <br> [참고] https://ko.wikipedia.org/wiki/%EC%9C%A0%ED%81%B4%EB%A6%AC%EB%93%9C_%ED%98%B8%EC%A0%9C%EB%B2%95
- `최소공배수 * 최대공약수 = a * b`
- 함수 이름과 변수 이름을 다르게 설정해야 함
- NameError: 할당 전에 참조되는 변수 <br> [참고] https://velog.io/@hongsikcho/%ED%8C%8C%EC%9D%B4%EC%8D%AC-referenced-before-assignment%EC%97%90%EB%9F%AC-%EC%9D%B4%EC%9C%A0%EC%99%80-%ED%95%B4%EA%B2%B0

In [ ]:
a, b = map(int, input().split())

def gcd(a, b):
    r = 1
    while (a % b != 0):  
        r = a % b
        #print(f'{a} % {b} = {r}')
        a = b; b = r
    return r
 
gcd_num = gcd(a, b)
print(gcd_num)
print(a * b // gcd_num)

24 18
6
72

------
- 틀림
- 반례
```
2 2
> 답: 2 2, 출력: 1 2
```

In [ ]:
a, b = map(int, input().split())

def gcd(a, b):
    if a == b:
        return a
    else:
        r = 1
        while (a % b != 0):  
            r = a % b
            #print(f'{a} % {b} = {r}')
            a = b; b = r
        return r

gcd_num = gcd(max(a, b), min(a, b))
print(gcd_num)
print(a * b // gcd_num)

30 10
1
300

------
- 틀림
- 반례
```
30 10
> 답: 10 30, 출력: 1 300
```
- `a % b == 0`인 경우를 생각하지 못함

In [ ]:
a, b = map(int, input().split())

def gcd(a, b):
    if a % b == 0:
        return b
    else:
        while (a % b != 0):  
            r = a % b
            a = b; b = r
        return r

gcd_num = gcd(max(a, b), min(a, b))
print(gcd_num)
print(a * b // gcd_num)

30 10
10
30

- a가 b보다 크지 않아도 됨
- ex) a = 6, b = 10이면 r = 6이 되므로 a = 10, b = 6이 됨

In [ ]:
a, b = map(int, input().split())

def gcd(a, b):
    if a % b == 0:
        return b
    else:
        while (a % b != 0):  
            r = a % b
            a = b; b = r
        return r

gcd_num = gcd(a, b)
print(gcd_num)
print(a * b // gcd_num)

30 10
10
30

### 4) #1934 최소공배수

In [ ]:
t = int(input())

def gcd(a, b):
    if a % b == 0:
        return b
    else:
        while (a % b != 0):  
            r = a % b
            a = b; b = r
        return r

for _ in range(t):
    a, b = map(int, input().split())
    print(a * b // gcd(a, b))

3
1 45000
45000
6 10
30
13 17
221

- 시간 초과 방지

In [ ]:
import sys

t = int(input())

def gcd(a, b):
    if a % b == 0:
        return b
    else:
        while (a % b != 0):  
            r = a % b
            a = b; b = r
        return r

for _ in range(t):
    a, b = map(int, sys.stdin.readline().rstrip().split())
    print(a * b // gcd(a, b))

---
- 시간이 60ms로 오래 걸림 → 36ms로 줄어듦
- `gcd()` 수정
- `a, b = b, a % b`와 `a = b, b = a % b`는 다름
- 전자는 동시에 a, b 수정하고 후자는 a를 먼저 수정한 다음 b를 수정해서 값이 달라짐 (후자의 경우 tmp 사용)

In [ ]:
t = int(input())

def gcd(a, b):
    while (a % b != 0):  
        a, b = b, a % b
    return b

for _ in range(t):
    a, b = map(int, input().split())
    print(a * b // gcd(a, b))

3
1 45000
45000
6 10
30
13 17
221

- 시간 초과 방지

In [ ]:
import sys

t = int(input())

def gcd(a, b):
    while (a % b != 0):  
        a, b = b, a % b
    return b

for _ in range(t):
    a, b = map(int, sys.stdin.readline().rstrip().split())
    print(a * b // gcd(a, b))

### 5) #2981 검문

In [4]:
n = int(input())
num_list = [int(input()) for _ in range(n)]
m_list = []

for i in range(2, min(num_list)):
    same_state = 1
    for j in range(n-1):
        if (num_list[j] % i) != (num_list[j+1] % i):
            same_state = 0
            break
    if same_state == 1:
        m_list.append(i)

print(*m_list, sep=' ')

5
5
17
23
14
83
3

- 시간 초과 방지

In [ ]:
import sys

n = int(input())
num_list = [int(sys.stdin.readline().rstrip()) for _ in range(n)]
m_list = []

for i in range(2, min(num_list)):
    same_state = 1
    for j in range(n-1):
        if (num_list[j] % i) != (num_list[j+1] % i):
            same_state = 0
            break
    if same_state == 1:
        m_list.append(i)

print(*m_list, sep=' ')

-----
- 틀림
- 반례
```
3
6 36 216
> 정답: 2 3 5 6 10 15 30
```

In [18]:
n = int(input())
num_list = [int(input()) for _ in range(n)]
num_list.sort()
m_list = []

for i in range(2, num_list[1]):
    same_state = 1
    mod = num_list[0] % i
    for j in range(1, n):
        if (num_list[j] % i) != mod:
            same_state = 0
            break
    if same_state == 1:
        m_list.append(i)

print(*m_list, sep=' ')

3
36
6
216
2 3 5 6 10 15 30

In [ ]:
import sys

n = int(input())
num_list = [int(sys.stdin.readline().rstrip()) for _ in range(n)]
num_list.sort()
m_list = []

for i in range(2, num_list[1]):
    same_state = 1
    mod = num_list[0] % i
    for j in range(1, n):
        if (num_list[j] % i) != mod:
            same_state = 0
            break
    if same_state == 1:
        m_list.append(i)

print(*m_list, sep=' ')

----
- 시간 초과
- 풀이 참고 <br> [참고] https://velog.io/@ledcost/%EB%B0%B1%EC%A4%80-2981-%ED%8C%8C%EC%9D%B4%EC%8D%AC-%EA%B2%80%EB%AC%B8-%EA%B3%A8%EB%93%9C5-%EC%A0%95%EC%88%98%EB%A1%A0
```
A = M * a + R
B = M * b + R
C = M * c + R
```
```
B-A = M(b-a)
C-B = M(c-b)
```
    - 즉, M은 B-A, C-B의 공약수들임
    - B-A, C-B의 최대공약수를 구하고 최대공약수의 약수들을 구함

In [35]:
import math

n = int(input())
num_list = [int(input()) for _ in range(n)]
num_list.sort()

def gcd(a, b):
    while (a % b != 0):  
        a, b = b, a % b
    return b

diff_list = [num_list[i] - num_list[i-1] for i in range(1, n)]

gcd_num = diff_list[0]
for i in range(1, n-1):
    gcd_num = gcd(gcd_num, diff_list[i])

m_set = set()
for i in range(2, int(math.sqrt(gcd_num))+1):
    if gcd_num % i == 0:
        m_set.add(i)
        m_set.add(gcd_num // i)
m_set.add(gcd_num)
print(*sorted(list(m_set)), sep=' ')

5
5
17
23
14
83
3

In [ ]:
import math
import sys

n = int(input())
num_list = [int(sys.stdin.readline().rstrip()) for _ in range(n)]
num_list.sort()

def gcd(a, b):
    while (a % b != 0):  
        a, b = b, a % b
    return b

diff_list = [num_list[i] - num_list[i-1] for i in range(1, n)]

gcd_num = diff_list[0]
for i in range(1, n-1):
    gcd_num = gcd(gcd_num, diff_list[i])

m_set = set()
for i in range(2, int(math.sqrt(gcd_num))+1):
    if gcd_num % i == 0:
        m_set.add(i)
        m_set.add(gcd_num // i)
m_set.add(gcd_num)
print(*sorted(list(m_set)), sep=' ')

### 6) #3036 링

### 7) #11050 이항 계수 1

### 8) #11051 이항 계수 2

### 9) #1010 다리 놓기

### 10) #9375 패션왕 신해빈

### 11) #1676 팩토리얼 0의 개수

### 12) #2004 조합 0의 개수